<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato / Biblioteca</title>
  <link rel="stylesheet" href="./contato.css">
</head>

<body>
    <header class="header-livros">
        <a href="../livros-home/livros-home.html" class="logo">
          Biblioteca Online
        </a>
    
        <nav>
        <ul class="nav_links">
          <li><a href="#" class="link">Contato</a></li>
          <li><a href="#" class="link">Termos</a></li>
          <li><a href="#" class="link">Log-out</a></li>
        </ul>
        </nav>
      </header>


  <main class="main-contato">
    <div class="contato_item">
      <div class="contato">
        <section class="contato-dados">
          <h2>Biblioteca Online</h2>
          <div class="contato-endereco">
            <p>Rua Ali Perto, 35</p>
            <p>Belém - PA</p>
            <p>Brasil - Terra - Vita Láctea</p>
          </div>

          <address class="contato-meios">
            <a href="mailto:contato@ufra.com">contato@ufra.com</a>
            <a href="mailto:assistencia@ufra.com">assistencia@ufra.com</a>
            <a href="tel:+559199999999">+55 91 9999-9999</a>
          </address>

          <div class="contato-redes">
            <a href="#">
              <img src="imagemContato/instagram.svg" alt="Instagram">
            </a>
            <a href="#">
              <img src="imagemContato/facebook.svg" alt="Facebook">
            </a>
            <a href="#">
              <img src="imagemContato/youtube.svg" alt="Youtube">
            </a>
          </div>
        </section>
      </div>

      <div class="contato_item lojas">
        <div class="lojas-item">
          <h1>Biblioteca local</h2>
            <img src="imagemContato/rj.jpg" alt="mapa marcando o endereço em Rua Ali Perto, 25 - Rio de Janeiro - RJ">

            <div class="lojas-conteudo">
              <h2>Belém - Pará</h3>
                <div class="lojas-dados">
                  <p>Rua Ali Perto, 25</p>
                  <p>Belém - PA</p>
                </div>

                <p class="lojas-tempo"><img src="imagemContato/horario.svg" alt="">08-18h de seg à dom</p>
            </div>
        </div>
      </div>

  </main>


</body>

</html>