<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="stylesheet" href="livros-home.css">
</head>
<body>
    <div class="main-livros">
        
    </div>

    <article class="bicicletas-lista">
        <h2 class="container font-1-xxl">escolha a sua<span class="cor-p1">.</span></h2>
    
        <ul>
          <li>
            <a href="./bicicletas/magic.html">
              <img src="./img/bicicletas/magic-home.jpg" alt="Bicicleta preta" width="920" height="1040">
              <h3 class="font-1-xl">Magic Might</h3>
              <span class="font-2-m cor-8">R$ 2499</span>
            </a>
          </li>
          <li>
            <a href="./bicicletas/nimbus.html">
              <img src="./img/bicicletas/nimbus-home.jpg" alt="Bicicleta preta" width="920" height="1040">
              <h3 class="font-1-xl">Nimbus Stark</h3>
              <span class="font-2-m cor-8">R$ 4999</span>
            </a>
          </li>
          <li>
            <a href="./bicicletas/nebula.html">
              <img src="./img/bicicletas/nebula-home.jpg" alt="Bicicleta preta" width="920" height="1040">
              <h3 class="font-1-xl">Nebula Cosmic</h3>
              <span class="font-2-m cor-8">R$ 3999</span>
            </a>
          </li>
        </ul>
      </article>
</body>
</html>