<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="stylesheet" href="livros-home.css">
</head>
<body>

  <header class="header-livros">
    <a href="#" class="logo">
      Biblioteca Online
    </a>

    <nav>
    <ul class="nav_links">
      <li><a href="#" class="link">Termos</a></li>
      <li><a href="#" class="link">Contato</a></li>
      <li><a href="#" class="link">Log-out</a></li>
    </ul>
    </nav>
  </header>
   
  <div class="main-livros">
    <div class="card-livros">
      <div class="livros-lista">
        <h2>
          Escolha seu livros
          <span>.</span>
        </h2>
    
        <ul class="elementos">
          <li class="elemento">
            <a href="../descricao_livros/codigoLimpo.html">
              <img src="./imagens-livros/clean-code.jpg" alt="Código Limpo: habilidades práticas do Agile Software" class="imagem" width="920" height="1040">
              <h3>Código limpo</h3>
              <span>Robert C. Martin</span>
            </a>
          </li>
          <li class="elemento">
            <a href="../descricao_livros/pythonParaAnalisedeDados.html">
              <img src="./imagens-livros/python.jpg" alt="Python para análise de dados" class="imagem" width="920" height="920">
              <h3>Python para análise de dados</h3>
              <span>Wes McKinney </span>
            </a>
          </li>
          <li class="elemento">
            <a href="../descricao_livros/refatoracao.html">
              <img src="./imagens-livros/refatoracao.jpg" alt="Refatoração" class="imagem" width="920" height="1040">
              <h3>Refatoração</h3>
              <span>Martin Fowler</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>