@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@700&display=swap');


body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}

.main-livros {
  width: 100vw;
  background-color: #120b0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.card-livros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 50px;
  background: #261717;
  border-radius: 20px;
  padding-top: 100px;
  padding-bottom: 100px;

}

.header-livros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background: #120b0b;
}

.header-livros > li, a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color:#dfb97f;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  color: #dfb97f;
  font-size: 21px;
}

.nav_links {
  list-style: none;
}

.nav_links > li {
  display: inline-block;
  padding: 0px 30px;
}

.link {
  color: #dfb97f;
  position: relative;
  transition: .35s;
}

.link:hover {
  color: white;
  border-bottom: 2px solid white;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  color: #e9c692;
  margin: 0px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.home {
  height: 90vh;
  background-image: url("../imagens-livros/biblioteca.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.elemento {
  transition: .35s;
  cursor: pointer;
}

.elementos:hover > :not(:hover) {
  opacity: .4;
  transform: scale(0.9);
}

.livros-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.livros-lista h2 {
  font-size: 60px;
  margin-bottom: 70px;
  color: #dfb97f;
}

.livros-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.livros-lista ul {
  padding: 0px 0px 20px 0px;
}

.livros-lista li {
  flex: 1;
  min-width: 280px;
}

.livros-lista a {
  display: block;
}

.livros-lista img {
  margin-bottom: 16px;
}

.livros-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.livros-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
}

.livros-lista li span {
  padding-left: 20px;
  color: antiquewhite;
}

@media (max-width: 800px) {
  .livros-lista {
    padding-bottom: 60px;
  }
  .livros-lista ul {
    gap: 20px;
  }
}

.sobre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px;
  border-radius: 20px;
  background: #120b0b;
  padding-top: 160px;
}

.sobre > h2 {
  font-size: 60px;
  margin-bottom: 90px;
}

.container-sobre {
  width: 1135.5px;
  padding-top: 30px;
}

.container-sobre > p {
  color: antiquewhite;
  font-size: 20px;
  text-align: justify;
  text-indent: 40px;
}