<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>E busque por seus livros!</h1>
            <img src="imagens/lendo.svg" class="left-login-img" alt="animação de livro">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <button class="btn-login">
                    <a href="../livros-home/livros-home.html">Login</a>
                </button>
                <div class="links-login">
                    <a href="../recupera-senha/recupera-senha.html" class="link-senha">Esqueci minha senha</a>
                    <a href="../cadastro/cadastro.html" class="link-conta">Criar uma conta</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>