<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="cadastro.css">
</head>
<body>
    <div class="main-cadastro">
        <div class="card-cadastro">
            <h1>Biblioteca Online</h1>
            <h2>Cadastre-se para ver seus livros favoritos.</h2>
            <div class="textfield">
                <label for="nome">Nome</label>
                <input type="text" nome="nome" placeholder="Nome">
            </div>
            <div class="textfield">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" nome="sobrenome" placeholder="Sobrenome">
            </div>
            <div class="textfield">
                <label for="email">Email</label>
                <input type="text" nome="email" placeholder="Email">
            </div>
            <div class="textfield">
                <label for="cpf">CPF</label>
                <input type="text" nome="cpf" placeholder="CPF">
            </div>
            <div class="textfield">
                <label for="cep">CEP</label>
                <input type="text" nome="cep" placeholder="CEP">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" nome="senha" placeholder="Senha">
            </div>
            <div class="textfield">
                <label for="confirma-senha">Confirme a senha</label>
                <input type="password" nome="confirma-senha" placeholder="Confirme a senha">
            </div>
            <div class="buttons">
                <button class="btn-voltar-login">
                    <a href="../login/login.html">Voltar</a>
                </button>
                <button class="btn-cadastro" onclick="cadastrarUsuario()">Cadastre-se</button>
            </div>
        </div>

        <script>  
            function cadastrarUsuario() {
                alert(`Usuário cadastrado com sucesso.`);
            }
        </script>
    </div>
</body>
</html>