<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recupera-senha.css">
    <title>recuperação de senha</title>
</head>
<body>
    <div class="main-recupera-senha">
        <div class="card-recupera-senha">
            <h2>Esqueci a senha!</h2>
            <p>Informe seu email para prosseguir com a recuperação da senha.</p>
            <div class="textfield">
                <input type="text" name="email" placeholder="Email">
            </div>
            <div class="buttons">
                <button class="btn-voltar-login">
                    <a href="../login/login.html">Voltar</a>
                </button>
                <button class="btn-envia-email">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>